body {
    width: 100%;
    background-color: rgb(254, 231, 248);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

#info {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

#die {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

#turn {
    margin-top: 80px;
}

#dieResponse {

    margin-bottom: 10px;
    height: 55px;
    width: 100px;
    text-align: center;
    padding-top: 25px;
    font-size: 25px;

    color: #ffff;

}

#playerDiv {
    font-family: sans-serif;
    text-align: center;
}

#playerBtn {
    width: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
 
}

#pig-svg {
    width: 200px;
    height: 200px;
    background-image: url(svg/pig-svgrepo-com.svg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    fill: rgb(255, 0, 149);
    
    
}

.burgers {
    display: flex;
    margin-bottom: 15px;
}

.burger {
    width: 58px;
    height: 45px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-right: 8px;
    text-align: center;
   
}

.red-burg {
    background-image: url(svg/burger-red.png);
}

.purple-burg {
    background-image: url(svg/burger-purple.png);
}

.blue-burg {
    background-image: url(svg/burger-blue.png);
}

button {
    border-radius: 50px;
    border: solid 2px rgb(255, 0, 149);
    background-color: transparent;
    padding: 4px 0px;
}
